# Intro to Data Science with Pokemon
***

### Arrays

In [5]:
food = ["Ham", "Cheese", "Bread", "Mayo", "Lettuce", "Tomato"]

In [6]:
print(food)

['Ham', 'Cheese', 'Bread', 'Mayo', 'Lettuce', 'Tomato']

In [7]:
print(food[2])

Bread

In [8]:
sliced_food_list = food[0:4]

In [9]:
print(sliced_food_list)

['Ham', 'Cheese', 'Bread']

### Import Libaries
***

In [10]:
import pandas as pd
import numpy as py
import seaborn as sb

In [11]:
print ("PANDAS version" + pd.__version__)
print ("numpy version" + py.__version__)
print ("Seaborn version" + sb.__version__)

PANDAS version2.2.3
numpy version2.1.1
Seaborn version0.13.2

### Loading Data
***

In [12]:
df = pd.read_csv("pokemon.csv")

### Displaying Full Data Frames
***

In [14]:
#pd.set_option('display.max_rows', None)

In [15]:
df.head()

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un,Pokemon.1
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN,Bulbasaur
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN,Ivysaur
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN,Venusaur
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN,Charmander
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN,Charmeleon

### Accessing Columns
***

In [16]:
df.Pokemon

0         Bulbasaur
1           Ivysaur
2          Venusaur
3        Charmander
4        Charmeleon
           ...
658          Kyurem
659          Keldeo
660    Meloetta (A)
661    Meloetta (P)
662        Genesect
Name: Pokemon, Length: 663, dtype: object

'Balbusar'

In [22]:
df.pokemon[0:3]

NameError: name 'pokemon_column' is not defined