# Intro to Data Science with Pokemon
***

### Arrays

In [1]:
food = ["Ham", "Cheese", "Bread", "Mayo", "Lettuce", "Tomato"]

In [2]:
print(food)

['Ham', 'Cheese', 'Bread', 'Mayo', 'Lettuce', 'Tomato']

In [3]:
print(food[2])

Bread

In [4]:
sliced_food_list = food[0:4]

In [5]:
print(sliced_food_list)

['Ham', 'Cheese', 'Bread', 'Mayo']

### Import Libaries
***

In [6]:
import pandas as pd
import numpy as py
import seaborn as sb

In [7]:
print ("PANDAS version" + pd.__version__)
print ("numpy version" + py.__version__)
print ("Seaborn version" + sb.__version__)

PANDAS version2.2.3
numpy version2.1.1
Seaborn version0.13.2

### Loading Data
***

In [8]:
df = pd.read_csv("pokemon.csv")

### Displaying Full Data Frames
***

In [9]:
#pd.set_option('display.max_rows', None)

In [10]:
df.head()

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un,Pokemon.1
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN,Bulbasaur
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN,Ivysaur
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN,Venusaur
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN,Charmander
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN,Charmeleon

### Accessing Columns
***

In [11]:
df.Pokemon

0         Bulbasaur
1           Ivysaur
2          Venusaur
3        Charmander
4        Charmeleon
           ...
658          Kyurem
659          Keldeo
660    Meloetta (A)
661    Meloetta (P)
662        Genesect
Name: Pokemon, Length: 663, dtype: object

'Balbusar'

### Accessing Multiple Columns
***

You can access multiple columns using a variable

In [17]:
pkm_atk_hp = df[['Pokemon', 'HP', 'Atk']]

In [18]:
pkm_atk_hp.head(100)

       Pokemon  HP  Atk
0    Bulbasaur  45   49
1      Ivysaur  60   62
2     Venusaur  80   82
3   Charmander  39   52
4   Charmeleon  58   64
..         ...  ..  ...
95     Drowzee  60   48
96       Hypno  85   73
97      Krabby  30  105
98     Kingler  55  130
99     Voltorb  40   30

[100 rows x 3 columns]

### Accessing Rows
***

You can access rows by using 'iloc[]' which allows you to specify index location for a row

In [28]:
bulbasaur_row = df.iloc[0]

In [29]:
print(bulbasaur_row)

Per                       1.0
Nat                       1.0
Pokemon             Bulbasaur
HP                         45
Atk                        49
Def                        49
SpA                        65
SpD                        65
Spe                        45
Total                     318
Type I                  Grass
Type II                Poison
Tier                       NU
Ability I            Overgrow
Ability II                NaN
Hidden Ability    Chlorophyll
Mass                   6.9 kG
LK/GK                      20
EV Worth                1 SpA
EXPV                       64
Color                   Green
Hatch                    5120
Gender              M (87.5%)
Egg Group I           Monster
Egg Group II            Grass
Catch                      45
EXP                   1059860
Evolve                    NaN
Per.1                     1.0
Nat.1                     1.0
Joh                     226.0
Hoe                       NaN
Sin                       NaN
Un                        NaN
Pokemon.1           Bulbasaur
Name: 0, dtype: object

### Useful PANDAS Methods
***

In [31]:
df.Pokemon.sort_values ()

464     Abomasnow
62           Abra
358         Absol
629      Accelgor
141    Aerodactyl
          ...
262     Zigzagoon
583       Zoroark
582         Zorua
40          Zubat
646      Zweilous
Name: Pokemon, Length: 663, dtype: object

In [34]:
df.Pokemon[0:10].sort_values()

8     Blastoise
0     Bulbasaur
9      Caterpie
5     Charizard
3    Charmander
4    Charmeleon
1       Ivysaur
6      Squirtle
2      Venusaur
7     Wartortle
Name: Pokemon, dtype: object

In [35]:
df.HP.mean() #Gets mean HP value

np.float64(68.34087481146305)

In [36]:
df.SpA.describe()

count    663.000000
mean      68.962293
std       29.246841
min       10.000000
25%       45.000000
50%       65.000000
75%       90.000000
max      180.000000
Name: SpA, dtype: float64

### Filtering Data
***

In [37]:
chu_Pokemon = df[df['Pokemon'].str.contains('chu')]

In [39]:
print(chu_Pokemon)

       Per    Nat   Pokemon  HP  Atk  Def  SpA  SpD  Spe  Total  ... Catch  \
24    26.0   25.0   Pikachu  35   55   30   50   40   90    300  ...   190
25    27.0   26.0    Raichu  60   90   55   90   80  100    475  ...    75
171   25.0  172.0     Pichu  20   40   15   35   35   60    205  ...   190
237  143.0  238.0  Smoochum  45   30   15   85   65   65    305  ...    45

         EXP        Evolve  Per.1  Nat.1    Joh    Hoe    Sin  Un  Pokemon.1
24   1000000    Friendship   26.0   25.0   22.0  156.0  104.0 NaN    Pikachu
25   1000000  Thunderstone   27.0   26.0   23.0  157.0  105.0 NaN     Raichu
171  1000000           NaN   25.0  172.0   21.0  155.0  103.0 NaN      Pichu
237  1000000           NaN  143.0  238.0  152.0    NaN    NaN NaN   Smoochum

[4 rows x 35 columns]

In [40]:
spec_atk_70 = df[df['SpA']==]

SyntaxError: invalid syntax (3148682793.py, line 1)